img{
 border-radius:50%;
 border-width: 50px;
 width: 80px;
 height: 80px;
 margin-left: 700px;

}
body{
    background-color: rgb(196, 194, 202);
}
h3{
    text-align: center;
    color: rgb(139, 176, 221);
}
h4{
    color: rgb(196, 134, 218);
}
